
@{ ViewBag.Title = "Logout"; }
@{
    Layout = "_DashBoardLayout";
}
<div class="row justify-content-center">
    <div >
        <div>
            <br />
            <div class="card-header font-weight-bold"style="color:green">@ViewBag.UserName Are you sure you want to logout??
               
                <div class="card-body">
                    <a class="btn font-weight-bold ml-5" asp-action="Logout" style="border-color:green">Yes</a>
                    <a class="btn font-weight-bold ml-5" asp-controller="DashBoard" asp-action="Index" style="border-color:green">No</a>
                </div>
            </div>
        </div>
    </div>
</div>